#headerContainer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerContainer * {
}

#logoContainer {
  line-height: 100px;
  display: flex;
  align-items: center;
}

#logoContainer img {
  height: 60px;
}
#logoContainer h1 {
  margin: 0 10px;
  font-weight: bold;
}

#score {
  text-align: center;
  line-height: 100px;
}

#selectorContainer {
  align-items: center;
}

#gameContainer {
  background-color: aquamarine;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gridContainer {
  border: 2px solid white;
  width: calc(100vh - 250px);
  height: calc(100vh - 250px);
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: teal;
}

.box.clicked {
  background-color: chartreuse;
  color: white;
}

.box.bomb {
  background-color: red;
  color: white;
}

.box.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.box.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.box.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}
